body {
    font-family: Arial, sans-serif;
    background-color:  rgb(100, 16, 100);
    
}

header {
    border-bottom: 1px solid;
    background-color: rgb(105, 105, 185);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    
}

header h1 {
    color: white;
    margin: auto;
    ;
}

main {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    color: white;
    background-color: rgb(105, 105, 185);
    font-size: 16px;
    border-radius: 20px
}

img {
    width: 100%;
}

p {
    color: aliceblue;
}

.sessao {
    margin-top: 10px;
    overflow: hidden;
  }
  
  .texto {
    float: left;
    width: 50%;
  }
  
  .video {
    float: right;
    width: 50%;
  }
  
  .video iframe {
    display: block;
    margin: 0 auto;
  }

  footer {
    text-align: center;
    margin-top: 23px;
  }

